.user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    padding: 10px;
}

.user__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #27a9e133;
    margin: 0 auto;
}

.user__name {
    text-align: center;
    color: #27aae1;
    font-size: 20px;
    padding: 10px 0;
}

.user__status, .user__answerArea {
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px 0;
}

.user__description {
    padding: 10px 0;
    text-align: center;
}

.user__contacts {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}