
.header {
  grid-area: h;
}

.header img {
  width: 170px;
  align-items: center;
}

.login__block {
  float: right;
  color: white;
}

.login__block a {
color: white;

}

.header .userLink {
  padding: 0;
  margin: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid black;
}

.header .userLink:hover { 
  border: 2px solid #27aae1;
}

.login__block__button {
  padding: 0;
  background-color: black;
  border: none;
  cursor: pointer;
  margin: 0;
  display: flex;
}

.modalWindow {
position: absolute;
top: 60px;
right: 270px;
color:white;
background-color: black;
display: block;
 list-style: none; 
 margin: 0;
 padding: 0;
 z-index: 3;
}

.modalWindow li {
  cursor: pointer;
  margin: 0px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid white;
}

.modalWindow li:hover {
  color: #27aae1
}
