.activePage {
    font-weight: bold;

}
.pages__area {
    cursor: pointer;
    padding: 10px;
   position: relative;
   width: 60%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pages__number {
   
    color: #27aae1;
    width: 47px;
}

.button:disabled {
    opacity: 30%;
    cursor: none;
}

.button{
    width: 0;
    height: 0;
    border: none;
    background-color: transparent;
}

.button:before {
content: "";
    width: 10px;
    height: 10px;
    border-top: 3px solid #27aae1;
    border-right: 3px solid #27aae1;
    position: absolute;
    margin: 10px;
    cursor: pointer;
    top: 0;
}

.button__prev:before {    
    transform: rotate(-135deg);
    left: 0;    
}

.button__next:before {
    
    transform: rotate(45deg);
    right: 0;
}