@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"),        
    url("./fonts/lato.woff") format("woff");
  font-family: "Ionicons";
  font-style: normal;
  font-weight: 400;
  src: local("Ionicons"),        
    url("./fonts/ionicons.ttf") format("ttf"),
}

body {
  font-family:  "Arial", sans-serif;
}

.aside {
  
}
